span {
    display: flex;
    flex-direction: row;
    column-gap: 8px;
    width: 320px;
    justify-content: space-between;
}

input, textarea {
    border: 1px solid black;
    min-width: 200px;
    padding: 0px 10px;
}

button {
    border: 1px solid black;
    border-radius: 5px;
    background-color: rgb(205, 216, 219);
    padding: 2px 4px;
    min-width: 80px;
}