<div class="flex flex-col items-center justify-center gap-y-4">
    <app-manager-dropdown></app-manager-dropdown>

    <form [formGroup]="employeeForm" class="flex flex-col gap-4">
        <label>
            Employee ID:
            <input type="text" formControlName="internalId" />
        </label>

        <label>
            First Name:
            <input type="text" formControlName="firstName" />
        </label>

        <label>
            Last Name:
            <input type="text" formControlName="lastName" />
        </label>

        <label>
            Roles:
            <textarea formControlName="roles" class="resize-none overflow-y-auto"></textarea>
        </label>

        <div class="flex justify-center gap-10">
            <button type="button">Save</button>
            <button type="button" routerLink="/home">Cancel</button>
        </div>
    </form>
</div>